
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
*.iml
.gradle
.gradle/
proguard/
*.log
.navigation/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.jks
