<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.itisi.guizhou">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- <meta-data -->
        <!-- tools:replace="android:value" -->
        <!-- android:value="26.+" -->
        <!-- &gt; -->


        <!-- </meta-data> -->


        <!-- 环信start -->
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1107170720115752#daguizhou"/>
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <!-- 环信end -->
        <!-- 相册 start -->
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Light_Gallery"/>
        <!-- android:theme="@style/Theme_Light.Default" -->
        <!-- 拍照以后的 裁剪界面的主题设置无效 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <!-- Theme_Light_Gallery -->
        <!-- android:theme="@style/Theme_Light.Default" -->
        <!-- 相册 end -->

        <activity
            android:name=".mvp.ui.splash.SplashActivity"
            android:theme="@style/Theme.Center">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.main.MainActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.test.TestRxBusActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.user.login.LoginActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.user.register.RegistActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.user.register.RegistConfirmActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.blacknum.BlackNumActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.test.CoordinateLayoutActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <!-- <activity android:name=".mvp.ui.splash.SplashActivity"> -->
        <!-- </activity> -->
        <activity
            android:name=".mvp.ui.test.TestToolbarActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.recuit.RecuitActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.chat.ChatActivity"
            android:theme="@style/AppThemeBack"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".mvp.ui.scenic.ScenicActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.techan.TeChanActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.university.UniversityActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.shiwuzhaoling.ShiWuZhaoLingActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.scenic.footprint.ScenicFootprintActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.scenic.onedetail.ScenicOneActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.test.TestPhotoViewActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.common.photoview.PhotoViewActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.common.photoview.PhotoViewPagerActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.scenic.scenicinfo.ScenicInfoActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.university.style.UniversityStyleActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity android:name=".mvp.ui.university.style.UniversityStyleAddActivity">
        </activity>
        <activity
            android:name=".mvp.ui.scenic.footprint.ScenicFootprintAddActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.read.ReadActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.ittool.ItToolActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.jingxuan.JingXuanActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.rental.RentalActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.websit.WebsitActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.websit.detail.WebsitDetailActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.websit.detail.WebsitAddActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.ittool.detail.ItToolDetailActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.ittool.detail.ItToolAddActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.rental.detail.RentalDetailActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.rental.detail.RentalAddActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.blacknum.detail.BlackDetailActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.blacknum.detail.BlackAddActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.jingxuan.JingXuanDetailActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.recuit.detail.RecuitDetailActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.recuit.detail.RecuitAddActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.setting.SettingActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.account.AccountActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.album.AlbumActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.birthday.BirthdayActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.agenda.AgendaActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.collection.CollectionActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.fadeback.FadebackActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.footprint.FootprintActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.mingyan.MingYanActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.about.AboutActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.about.AboutUsActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.about.AgreementActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.user.personal.PersonalActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity
            android:name=".mvp.ui.user.safe.SafeActivity"
            android:theme="@style/AppThemeBack">
        </activity>
        <activity android:name=".mvp.ui.user.personal.AutographAddActivity">
        </activity>
        <activity android:name=".mvp.ui.address.AddressActivity">
        </activity>
        <activity android:name=".mvp.ui.address.AddressAddActivity">
        </activity>
    </application>

</manifest>